*{
    box-sizing: border-box;
    margin:0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-size: cover;
    background:no-repeat center url(bg2.png) fixed;
    -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          /* overflow: hidden; */
    background-color: black;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div{
    height:20em;
}
div:first-child{
    height:70em;
}
section{
    width:80%;
    background-color:#E8E907;
    /* margin-top: 40%; */
    opacity:.98;
    padding: 5%;
}
#about{
    /* margin-top: 60%; */
    background-color: white;
    padding:7% 10%;

}
h1{
    font: 4rem 'Open Sans', sans-serif;
    font-weight: 100;
    /* padding-left: 20%; */
}
p{
 font-size: 2rem;
 line-height: 1.5em;
 margin-top: 5%;

}
#profilePic{
    width:30%;
    border-radius: 200px;
    float:right;
    margin-left: 2%;
}
#projects{
    padding:2%;
    background-color: white;
}
.project{
    width:100%;
}
#projects  li{
    width:49%;
    margin:0 0 5% 0;
}
.features{
    list-style-type: none;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4%;
}
.features img{
    height: 214px;
}
#projectsTitle{
    margin-left: 2%;
    background-color: #E8E907;
    width: 23%;
    text-shadow: white 1px 2px;
}
.pop-out
{
	transition: transform 1s;
}

.pop-out:hover
{
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}
#consultingTitle{
    background-color: #E8E907;
    width: 60%;
    text-shadow: white 1px 2px;
    margin-bottom: 2%;
}
.background{
    background-color: #E8E907;
    width:100%;
    margin:0;
    padding:5% 10%;
}
.background1{
    background-color: #E8E907;
    width:100%;
    margin:0;
    padding:10%;
}
#freelancing{
    padding:2%;
    background-color: white;
}
#freelancing p{
    font: 1.7rem;
    font-weight: 100;
    margin:0 0 1% 0;
}
#listOfServices{
    font-size:1.9rem;
    padding:0 3%;
}
#listOfServices > li{
    line-height: 1.45em;
    list-style-type: square;
}
strong{
    font: 2rem 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0;
    text-decoration: underline;
    padding-right: 0.5%;
    color:black;
    text-shadow:white 1px 2px 4px;
}
#contactHeader{
    background-color: #E8E907;
    width: 25%;
    text-shadow: white 1px 2px;
}
#contact{
    font-size: 2rem;
    background-color: #E8E907;
    padding:2% 0;
}
#contact a{
    color:white;
    margin:0 0 2% 0;
    font-size: 2.5rem;
}
#contact  a:hover{
    color:rgb(208, 43, 226);
}
#contact h3{
    margin:2% 0;
    letter-spacing: 0.1em;
}
#socialIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0;
    padding: 0;
}
#socialIcons > h3{
    margin:0 0 2% 0;
    letter-spacing: 0.13em;
}
#contact ul{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contact ul > li{
    /* /* list-style-type: none; */
    display: inline-block;
    width:31%;
}
#contact ul > li a{
    width:100%;
}
#contact img{
    width:60px;
    height:60px;
    /* margin-right:5%; */
}
.pop-out1
{
	transition: transform 1s;
}

.pop-out1:hover
{
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}
/* $laptop:1020px;
$tablet:724px;
$mobile:480px */
@media all and (max-width:730px){
    section{
        width:100%;
        margin-top: 0;
        padding: 5%;
    }
    #freelancing p{
        font:1.9rem 'Bebas Neue', cursive;
    }
    #projects, #freelancing{
        background-color: #E8E907;
    }
}
@media all and (max-width:480px){
    body{
        background-image: none;
    }
    body:before{
        content: "";
        background-image: url(bg2.png);
        -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain!important;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain!important;
        background-attachment: fixed!important;
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background-size: contain;
        background-attachment: fixed; */
    }
    section{
        width:100%;
        margin-top: 10%;
        padding: 5%;
    }
    div{
        height:0;
    }
    #about{
        margin-top: 0;
        width:90%;
    }
    #projects, #freelancing, #contact{
        width:90%;
    }
    #projects  li{
        width:100%;
        margin:0 0 5% 0;
    }
    .features{
        list-style-type: none;
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features img{
        height:180px;
    }
    .pop-out
        {
        	transition: transform 1s;
        }

        .pop-out:hover
        {
        	-ms-transform: scale(1, 1);
        	-webkit-transform: scale(1, 1);
        	transform: scale(1, 1);
        }
    h1{
        font-size: 3rem;
    }
    #contact img{
        width:40px;
        height:40px;
        /* margin-right:5%; */
    }
    #contact ul{
        width:80%;
    }
}